body {
    font-family: Kokonor, sans-serif;
    min-width: 90vw;
    padding: 10px;
    background: gray;
}

button:hover {
    background: lightblue;
    cursor: pointer;
}

.popup {
    position: fixed;
    transform: translate(50%, 50%);
    padding: 2px 5px;
    color: black;
    border-radius: 8px;
    opacity: 0.75;
}

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

    .settings {
        position: fixed;
        background-color: darkgray;
        height: 70vh;
        width: 15vw;
        top: 20%;
        left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        .config {
            background-color: orange;
            margin-bottom: 20px;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            input {
                height: 20px;
            }
        }

        .role-list {
            background-color: lightblue;
            margin: 20px 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button {
            scale: 1.2;
            background: lightgreen;
        }
    }

    #grimoire {
        position: relative;
        width: 600px;
        height: 600px;
        background: #222;
        border-radius: 50%;

        .player-circle {
            position: absolute;
            width: 100px;
            height: 100px;
            background: crimson;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;

            .player-name {
                top: -40px;
                position: absolute;
                color: white;
            }

            .player-info {
                position: absolute;
                top: 85px;
                color: white;
                visibility: hidden;
                text-align: center;
            }
        }
    }
}